node_modules
.git
.gitignore
.readme
README.md
.docker
.env
.env.local
.env.*.local
npm-debug.log
yarn-error.log
.DS_Store
dist
.output
.nuxt
.nitro
.cache
*.local
coverage
.vscode
.idea
*.log
*.swp
*.swo
*.swn

