services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: polindo-fe:latest
    container_name: polindo-fe
    network_mode: "host"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=8082
      - HOST=0.0.0.0