@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-base text-black font-inter;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  p,
  span {
    @apply block;
  }
}

@layer components {
}

@layer utilities {
}
